* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

.nav-bar {
    background: #fff;
}

.navbar-links ul {
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    color: #000;
    padding: .5rem 1rem;
    display: block;
}


/* ===================================== */
/* The section of the Hero */
.hero-section {
    background: url('assets/hero.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column-reverse;
    height: 100vh;
}

.hero-section::before {
    content: "";
    position: absolute;
    background: rgba(5, 5, 12, 0.712);
    height: 100%;
    width: 100%;
}

.hero-left {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 999;
    display: none;
}

.hero-center {
    width: 90%;
    margin: 0 auto;
    padding: 0 20px;
    color: #fff;
}

.hero-center h2 {
    font-size: 45px;
    width: 70%;
}

.hero-center p {
    font-size: 16px;
    width: 90%;
    line-height: 25px;
    margin-top: 10px;
}



/* The section of the hero-right */
.hero-right {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    height: 100%;
}

.hero-form {
    background: rgba(5, 5, 12, 0.74);
    width: 80%;
    padding: 30px;
}

.hero-form h2 {
    color: white;
    text-align: center;
}

.hero-form p {
    color: white;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 10px;
    font-size: 12px;
}

.form input {
    display: block;
    padding: 15px;
    width: 100%;
    margin-bottom: 10px;
    outline: none;
    border: none;
}

.form input[type=button] {
    background: green;
    outline: none;
    border: none;
    color: #fff;
    margin-top: 20px;
    font-size: 20px;
    cursor: pointer;
}



/* ======================================= */
/* The snapshot section */

.snapshot-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
}

.snapshot-box-content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    flex-direction: column;
}

.box1 {
    background: #fff;
    padding: 10px 20px;
    width: 280px;
    height: 280px;
    margin: 10px;
    border-radius: 2px;
    box-shadow: 2px 2px 15px 0 rgb(135 135 135 / 40%);
}


.circle {
    display: flex;
    margin: 0 auto;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #e9dcdc;
    margin-top: 2rem;
    justify-content: center;
    align-items: center;
}

.circle img {
    width: 60%;
    height: 60%;
}


.box1 h5 {
    text-align: center;
    padding-top: 2rem;
    color: green;
    font-size: 1rem;
    margin-bottom: 20px;
}

.box1 p {
    text-align: center;
    font-size: 15px;
}


/* ======================================= */
/* The snapshot section */

.article {
    background: #e9dcdcc0;
}

.article h2 {
    text-align: center;
    margin-bottom: 10px;
    font-family: Arial;
    font-size: 25px;
    padding-top: 30px;
}

.article-center {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 90%;
    padding: 20px;
    margin: 0 auto;
}

.article-box {
    background: #e9dcdcc0;
    padding: 20px 20px;
    width: 280px;
    margin: 10px auto;
    border-radius: 10px;
    box-shadow: 2px 2px 15px 0 rgb(135 135 135 / 20%);
}

.circles {
    display: flex;
    margin: 0 auto;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #bcc3c7;
    margin-top: 2rem;
    border: 2px solid #000;
}

.circles img {
    width: 100%;
    height: 100%;
    border-radius: 150px;
}


.article-box h6 {
    text-align: center;
    padding: 1rem 0;
    color: green;
    font-size: 0.7rem;
    text-transform: uppercase;
}

.article-box p {
    text-align: center;
    font-size: 13px;
    padding: 10px 0;
}


/* ==================================== */
/* The section of the footer */
footer {
    background: #222;
    text-align: center;
    padding: 20px;
}

footer h4 {
    color: #fff;
    font-weight: normal;
}